<div class="mat-display-2" style="font-weight: bold;">Home Page
    <div class="mat-display-2">
        <mat-nav-list *ngIf="authService.isLoggedIn()">
            Welcome {{authService.currentUser['userId']}}
            <a mat-list-item [routerLink]="['admin']">Admin</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['login']">Login</a>
        </mat-nav-list>
        <mat-nav-list>
            <a mat-list-item (click)="authService.logout()">Logout</a>
        </mat-nav-list>
    </div>
</div>



